.artists-container {
  margin-top: 120px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  justify-content: space-between;
  gap: 30px;
  padding: 16px;
  box-sizing: border-box;
  justify-items: center;
  align-items: start;
  margin: auto;
  padding-bottom: 150px;
}

.artist {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.artist > img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 1300px) {
  .artists-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
