.limit-select {
  margin: 10px;
  padding: 5px;
  background-color: #a3a3a3;
}

.set-limit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-top: 15px;
}

.limit-btn {
  background-color: #333;
  padding: 8px;
  border-radius: 18px;
  cursor: pointer;
  color: white;
}

/* .limit-btn:nth-of-type(1) {
  padding-left: 20px;
  padding-right: 20px;
} */

.limit-btn.active {
  background-color: #a1a1a1;
  color: white;
}

.limit-btn:hover {
  background-color: rgb(163, 163, 163);
  transition: 400ms;
}

.view-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: #fff;
}

.set-term-range {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 60px;
}

.term-list {
  position: absolute;
  margin-top: 30px;
  background-color: #333;
  border-radius: 8px;
  list-style: none;
  z-index: 100;
  color: white;
  width: 150px;
}

.term-list li {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.term-list li:hover {
  background-color: #8f8f8f;
}

.term-list > li:nth-of-type(1) {
  font-size: 0.8rem;
}

.term-list i {
  color: #1ed760;
}

@media screen and (max-width: 1400px) {
  .limit-btn {
    font-size: 0.8rem;
  }
}
