a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: #1ed760;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.user-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}

.nav-links li {
  margin-left: 20px;
  color: white;
  cursor: pointer;
  margin: 15px;
}

.search-song {
  width: 200px;
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid #00000080;
  height: 32px;
  padding-left: 40px;
  background-image: url(https://www.svgrepo.com/show/157848/search.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px;
  margin-right: 20px;
}

.search-song::placeholder {
  color: #00000080;
  font-size: 14px;
  opacity: 1;
}

.menu {
  position: absolute;
  width: 195px;
  height: 120px;
  background-color: #282828;
  border-radius: 4px;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #2d2d2d;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li:hover {
  background-color: rgb(163, 163, 163);
  transition: 200ms;
}

@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
  }

  .search-input-area {
    margin-left: 16px;
  }
}
