.list-item {
  width: 100%;
  margin-top: 15px;
  color: white;
  text-align: center;
}

li > div:hover {
  background-color: rgb(50, 50, 50);
  transition: 150ms;
}

li::marker {
  font-size: 1.5rem;
  text-align: left;
}

.trackLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  margin: auto;
}

.trackLi img {
  width: 50px;
}

.trackLi-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.tracks-li-container {
  width: 100%;
  margin: auto;
  padding-bottom: 200px;
}

.artist-name {
  color: #b6b6b6;
}

ol {
  width: 100%;
  margin: auto;
  list-style-type: decimal;
}

.table-row-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.411);
  margin-top: 20px;
  padding: 5px;
}

.table-row-top span:nth-of-type(2) {
  text-align: center;
  margin-left: 25px;
}

@media screen and (max-width: 1300px) {
  .hide-item {
    display: none;
  }

  .trackLi-info {
    margin: auto;
  }
}
