.main-sort-container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: auto;
}

.year-container {
  width: 75vw;
  margin: auto;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 10px;
}

.year-container::-webkit-scrollbar {
  display: none;
  background-color: red;
}

.year {
  color: rgb(70, 243, 82);
  list-style-type: none;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.year-track {
  color: #ffffff;
  list-style-type: none;
  font-size: 1rem;
}

.sort-button {
  display: block;
  font-size: 1.5rem;
  padding: 5px;
}
