* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "General-sans";
  src: url("../GeneralSans_Complete/Fonts/TTF/GeneralSans-Variable.ttf");
}

body {
  font-family: General-sans;
  background-color: #1a1c22;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}

h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: #b6b6b6;
}

span {
  color: #fff;
}

.showcase-options {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: start;
  margin-top: 80px;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.showcase-options-unreversed {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: space-between;
}

.song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.song-number {
  color: #ffffff;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.5rem;
}

.track {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tracks-container {
  margin-top: 120px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  justify-content: space-between;
  gap: 30px;
  box-sizing: border-box;
  justify-items: center;
  margin: auto;
  padding-bottom: 150px;
}

.player-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  background-color: #1db954;
}

.spotify-web-player {
  margin-bottom: 100px;
  height: 80px;
}

@media screen and (max-width: 1400px) {
  h1 {
    margin-top: 100px;
  }
  .tracks-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .showcase-options {
    width: 90%;
  }

  .showcase-options-unreversed {
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .tracks-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
